<%- model_class = Store -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<%= render :partial => 'form' %>
    <script type='text/javascript' src="http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js"></script>

<script type='text/javascript'>
function reloadPage()
  {
  location.reload();
  }
$(window).load(function(){
var map;
var marker;
var latitudeTextBox = $("#LatitudeTextBox");
var longitudeTextBox = $("#LongitudeTextBox");

jQuery(document).ready(function () {
    var centerLatlng = new google.maps.LatLng(<%= @store.latitude %>, <%= @store.longitude %>);

    var mapOptions = {
        zoom: 15,
        center: centerLatlng,
        scrollwheel: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeControl: true,
        mapTypeControlOptions: {
            style: google.maps.MapTypeControlStyle.DEFAULT
        },
        navigationControl: true,
        navigationControlOptions: {
            style: google.maps.NavigationControlStyle.DEFAULT
        }
    };

    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

    // Edit existing location so that we need to display

    // Display default marker
    marker = new google.maps.Marker({
        draggable: true,
        map: map,
        position: centerLatlng
    });

    // After dragging, updates both Lat and Lng.
    google.maps.event.addListener(marker, 'dragend', function () {
        var curLatLng = marker.getPosition();
        latitudeTextBox.val(curLatLng.lat());
        longitudeTextBox.val(curLatLng.lng());
    });

    google.maps.event.trigger(marker, "click");
});
});//]]>

</script>






